<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vumbora</title>
    <link rel="icon" type="img/ico" href="../../public/SBAdminTemplate/img/favicon.ico">

    <!-- Bootstrap Core CSS' -->
    <link href="../../public/SBAdminTemplate/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../public/SBAdminTemplate/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../public/SBAdminTemplate/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../public/SBAdminTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container-fluid">
        <div class="nav navbar-nav top-information">
                <!-- Main jumbotron for a primary marketing message or call to action -->
           
            </div>
        </div>

    <div id="wrapper">
        
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
           
                
                <a class="navbar-brand" href="index.html"><img src="../../public/SBAdminTemplate/img/logo vumbora.png" height="40px" width="180px"></a>
            
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
            <!-- Notification -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa-2x"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>José</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> ontem as 4:32</p>
                                        <p>José aceitou sua solicitação de carona</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Maria</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> ontem as 4:32</p>
                                        <p>Maria aceitou sua solicitação de carona</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </li>
                        <li class="message-footer">
                            <a href="#">Ver todas</a>
                        </li>
                    </ul>
                </li>
                <!-- end Notification -->

                <!-- User options -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i> Fulano <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
                <!-- end User options -->
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                </br>
                </br>

                    <li>
                        <a href="telaMotorista.html"><i class="fa fa-fw fa-home fa-5x"></i></br>Home</a>
                    </li>
                    <li>
                        <a href="solicitações-motorista.html"><i class="fa fa-fw fa-paper-plane fa-5x"></i> </br>Solicitações</a>
                    </li>
                    <li>
                        <a href="telaAgendamentosCaronaPassageiro.html"><i class="fa fa-fw fa-calendar fa-5x"></i> </br>Agendamentos</a>
                    </li>
                    
                    <li>
                        <a href=""><i class="fa fa-fw fa-user fa-5x"></i> </br>Meu Perfil</a>
                    </li>
        
                </ul>
            </div>
    
            <!-- A BARRA DO OUTRO LADO -->

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side2-nav">
                    
                    <li>
                        <div class="container-fluid">
                            <div class="row-xs-12">
                        <!-- Page Heading -->
                                <div class="row"> 
                                    <div class="col-lg-12">
                                        <h3 class="page-header" style="color: #FFF"> Minhas caronas</h3>
                                        <ol class="breadcrumb">
                                            <li class="active">
                                            <i class="fa fa-calendar"></i>
                                                <label for="date">Dia:</label>
                                                <input type="date" name="date" id="date">
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                        </div>

                    <div class="row-sm-7">
                        <div class="panel panel-blue-ida">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                            <i class="fa fa-car fa-2x "></i> Ida&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    
                                            <i class="fa fa-clock-o fa-2x"></i> 08:00


                                </h1>
                            </div>
                            <div class="panel-body">
                                Detalhes
                            </div>
                        </div>
                    </div>
                    <div class="row-sm-7">
                        <div class="panel panel-blue-ida">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                            <i class="fa fa-car fa-2x "></i> Ida&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                                            <i class="fa fa-clock-o fa-2x"></i> 08:00

                                </h1>
                            </div>
                            <div class="panel-body">
                                Detalhes
                            </div>
                        </div>
                    </div>
                    <div class="row-sm-7">
                        <div class="panel panel-blue-volta">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                            <i class="fa fa-car fa-2x "></i> Volta&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                                            <i class="fa fa-clock-o fa-2x"></i> 08:00
 
                                </h1>
                            </div>
                            <div class="panel-body">
                                Detalhes
                            </div>
                        </div>
                    </div>
                    <div class="row-sm-7">
                        <div class="panel panel-blue-volta">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                            <i class="fa fa-car fa-2x "></i> Volta&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    
                                            <i class="fa fa-clock-o fa-2x"></i> 08:00

                                </h1>
                            </div>
                            <div class="panel-body">
                                Detalhes
                            </div>
                        </div>
                    </div>
        
                </ul>
            </div>                     
            
            <!-- /.navbar-collapse -->
        </nav>
        <!-- HORÁRIOS -->
 <div class="col-lg-8" >
                    <div class ="list-group">
                        <a class="list-group-item" style="background-color: #D3D3D3; color: #000000">
                            <table style= "width:100%">
                                <tr>
                                    <td width="20%">
										<i class="fa fa-user fa-5x"></i>       
                                    </td>
                                    <td width = "70%" align = "left"> 
                                        <i class="fa fa-info fa-1x"></i>&nbsp NOME COMPLETO</br> 
										<i class="fa fa-compass fa-1x"></i> BAIRRO </br> 
										<i class="fa fa-phone fa-1x"></i> TELEFONE</td>    
                                </tr>
                            </table>   
                        </a>

                         <!---->
                        </br>
						<div>
                            <h3 class="page-header" style="color: #FFF; font-size: 18px"> <i class="fa fa-location-arrow fa-2x"></i>&nbsp Ida à UFCG</h3>
                        </div>
						 <!---->
                         <a class="list-group-item" style="background-color: #D3D3D3; color: #000000">
							<table style= "width:100%">
								<tr>
									<td width = 15% align = "center"> HORAS</td>
									<td width = 10% align = "center"> SEG</td>
									<td width = 10% align = "center"> TER</td>
									<td width = 10% align = "center"> QUA</td>
									<td width = 10% align = "center"> QUI</td>
									<td width = 10% align = "center"> SEX</td>
								</tr>
								<tr>
									<label class="checkbox-inline">
									<td width = 15% align = "center">08:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									</label>
								</tr>
								<tr>
									<td width = 15% align = "center">10:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">12:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">14:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">16:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">18:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
							</table>
	
							<!---->
							 <a class="list-group-item" style="background-color: #D3D3D3; color: #000000">
								<table style= "width:100%">
									<td align = "right"><button class="btn btn-warning btn'l" style="float: center; font-size: 12px; font-family: 'Calibri Light';"><b>Cadastrar</button></td>
								</table>
							 </a>
                         </a>
							 
                         </br>
                         
                         <!---->
						 <!---->
                         </br>
                        <div>
                            <h3 class="page-header" style="color: #FFF; font-size: 18px"> <i class="fa fa-location-arrow fa-2x"></i>&nbsp Volta da UFCG</h3>
                        </div>
						
						 <!---->
                         <a class="list-group-item" style="background-color: #D3D3D3; color: #000000">
							<table style= "width:100%">
								<tr>
									<td width = 15% align = "center"> HORAS</td>
									<td width = 10% align = "center"> SEG</td>
									<td width = 10% align = "center"> TER</td>
									<td width = 10% align = "center"> QUA</td>
									<td width = 10% align = "center"> QUI</td>
									<td width = 10% align = "center"> SEX</td>
								</tr>
								<tr>
									<label class="checkbox-inline">
									<td width = 15% align = "center">08:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									</label>
								</tr>
								<tr>
									<td width = 15% align = "center">10:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">12:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">14:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">16:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
								<tr>
									<td width = 15% align = "center">18:00</td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
									<td width = 10% align = "center"> <input type="checkbox"></td>
								</tr>
							</table>
							<!---->
							 <a class="list-group-item" style="background-color: #D3D3D3; color: #000000">
								<table style= "width:100%">
									<td align = "right"><button class="btn btn-warning btn'l" style="float: center; font-size: 12px; font-family: 'Calibri Light';"><b>Cadastrar</button></td>
								</table>
							 </a>
                         </a>
							 
                         </br>
                         
                 
                        </br>
                    </div>
                </div>
            </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../public/SBAdminTemplate/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/SBAdminTemplate/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../public/SBAdminTemplate/js/plugins/morris/raphael.min.js"></script>
    <script src="../../public/SBAdminTemplate/js/plugins/morris/morris.min.js"></script>
    <script src="../../public/SBAdminTemplate/js/plugins/morris/morris-data.js"></script>

</body>

</html>
