	<div id="divCadastro" class="text-faded">
				<img src="testePaginaElaborada/img/logo_vumbora.png" width="300">
				<label class="radio-inline"><input type="radio" name="optradio" onclick="motorista();" checked>Oferecer caronas</label>
				<label class="radio-inline"><input type="radio" name="optradio" onclick="passageiro();">Buscar caronas</label>
				<br/>
				<b>Nome:</b>
				<br/>
				<input type = "text">
				<br/>
				<b>Email:</b>
				<br/>
				<input type = "email">
				<br/>
				<b>Endereço:</b>
				<br/>
				<input type = "text">
				<br/>
				<b>Matrícula:</b>
				<br/>
				<input type = "text">
				<br/>
				<b>Nº Telefone:</b>
				<br/>
				<input type = "text">
				<br/>
				<br/>
				<div id="infoMotorista">
					<h3>Informações do seu veículo</h3>
					<b>Vagas oferecidas</b>
					<br/>
					<input type = "text">
					<br/>
					<b>Modelo e placa</b>
					<br/>
					<input type = "text">
					<br/>
					<br/>
				</div>
					<a href="#" class="btn btn-default btn-xl" onclick="alertaCadastroEfetuado()">Vumbora</a>
					<br/>
					<a href="#" class="btn" onclick="login()">Já é cadastrado? Faça login!</a>

				<br/>
				<br/>
				<br/>
			</div>
		</div>
