@(usuarioLogado: Usuario, caronasOfertadas: List[Carona], notificacoes: List[Notificacao], title: String)(content: Html)

<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>

    <link rel="icon" type="img/ico" href="assets/SBAdminTemplate/img/favicon.ico">

    <!-- Bootstrap Core CSS' -->
    <link href="assets/SBAdminTemplate/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/SBAdminTemplate/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/SBAdminTemplate/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/SBAdminTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <html lang="pt-br">

</head>

<script type="text/javascript">
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
    $(this).remove();
  });
}, 2000);

$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>



<style type="text/css">
    	    	body{
    	    		background-image: url("assets/CreativeTemplate/img/fundoCarro.png");
    	    		background-size: cover;
       				background-repeat: no-repeat;
       				background-attachment: fixed;
    	    	}
    	    	input{
    				color: black;
    			}

    			input[type=file]{
    				margin-left: 35%;
    				margin-right: 35%;
    			}

    </style>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-blue navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->


            <a class="navbar-brand" href="/"><img src="assets/SBAdminTemplate/img/logo vumbora.png" height="40px" width="180px"></a>

            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav" id="bs-slide-dropdown">

              <!-- Notification -->
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@if(notificacoes.size() == 0){<img src="assets/SBAdminTemplate/img/bell.png" align="center" height="30"></i>
                  }else{<img src="assets/SBAdminTemplate/img/bellAlert.png" align="center" height="30"></i>} <b class="caret"></b></a>
              <ul class="dropdown-menu message-dropdown">

                  @for(notificacao <- notificacoes){
                      <li class="message-preview">
                          <a href=@notificacao.getReferencia()>
                              <div class="media">
                                  <div class="media-body">
                                      <h5 class="media-heading"><strong>@notificacao.getUsuarioOrigem().getPrimeiroNome()</strong>
                                      </h5>
                                      <p class="small">@notificacao.getMensagem()</p>
                                  </div>
                              </div>
                          </a>
                      }
                  </li>

                  <li class="message-footer">
                      @if(notificacoes.size() != 0){
                      <a href="leTodasNotificacoes">@Messages("global.notificacoes_lidas")</a>
                      } else {
                      @Messages("global.sem_notificacoes")
                      }

                  </li>
              </ul>
          </li>
              <!-- end Notification -->

                <!-- Linguas -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language fa-2x"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <h5 class="media-heading" style="color: #888;"><a href="redefineIdioma?id=1">Português</a></h5>
                        </li>
                        <li>
                            <h5 class="media-heading" style="color: #888;"><a href="redefineIdioma?id=2">English</a></h5>
                        </li>
                        <li>
                            <h5 class="media-heading" style="color: #888;"><a href="redefineIdioma?id=3">Español</a></h5>
                        </li>
                        <li>
                            <h5 class="media-heading" style="color: #888;"><a href="redefineIdioma?id=4">Italiano</a></h5>
                        </li>
                    </ul>
                </li>
                <!-- end Linguas -->

                <!-- User options -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i> @usuarioLogado.getPrimeiroNome() <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <h5 class="media-heading" style="color: #888;"> @Messages("global.bairro") 1: @usuarioLogado.getEndereco().getBairro()</h5>
                        </li>
                     @if(usuarioLogado.getEnderecoAlternativo().getBairro() != usuarioLogado.getEndereco().getBairro()){
                        <li>
                           	<h5 class="media-heading" style="color: #888;"> @Messages("global.bairro") 2: @usuarioLogado.getEnderecoAlternativo().getBairro()</h5>
                        </li>
                       }
                         <li>
                           	<h5 class="media-heading" style="color: #888;"> @Messages("global.idioma"): @usuarioLogado.getIdioma()</h5>
                        </li>
                      @if(usuarioLogado.getNumeroVagas() > 0){

                        <li>
                            <h5 class="media-heading"style="color: #888;"> @Messages("global.vagas"): @usuarioLogado.getNumeroVagas()</h5>
                        </li>
                      }
                        <li class="divider"></li>
                        <li>
                            <a href="ajuda" color="#FFF" style="text-align: right"> @Messages("ajuda")</a>
                        </li>
                        <li>
                        	<a href="logout" style="text-align: right; color: #9e0404"> @Messages("global.sair")</a>
                        </li>
                    </ul>
                </li>
                <!-- end User options -->
              </ul>
    </nav>

    <nav class="navbar" role="navigation">

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                </br>
                </br>
                    <li>
                        <a href=@usuarioLogado.getEnderecoPerfil()><td width="20%"><img src=@usuarioLogado.getEnderecoImagemPerfil() class="img-circle" style="border: 2px solid #888;" height="50" width="50"></i></td></br>@usuarioLogado.getPrimeiroNome()</a>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-fw fa-home fa-4x"></i></br><strong>@Messages("global.home")</strong></a>
                    </li>
                    <li>
                        <a href="solicitacoes"><i class="fa fa-fw fa-paper-plane fa-3x"></i></br><strong>@Messages("global.solicitacoes")</br><div style="color: #985f0d">@if(usuarioLogado.getSolicitacoes().size() > 0){ (@usuarioLogado.getSolicitacoes().size()) }</div></strong></a>
                    </li>
                    <li>
                        <a href="pendentes"><i class="fa fa-clock-o fa-3x"></i></br><strong>@Messages("global.pendentes")</br><div style="color: #985f0d">@if(usuarioLogado.getCaronasPendentes().size() > 0){ (@usuarioLogado.getCaronasPendentes().size()) }</div></strong></a>
                    </li>
                    <li>
                        <a href="horarios"><i class="fa fa-calendar fa-3x"></i></br><strong>@Messages("global.horarios")</strong></a>
                    </li>
                </ul>
            </div>
    </nav>

            <!-- A BARRA DO OUTRO LADO -->
    <nav class="navbar" role="navigation">
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side2-nav">

                    <li>
                        <div class="container-fluid">
                            <div class="row-xs-12">
                        <!-- Page Heading -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="page-header" style="color: #FFF">@Messages("global.minhas_caronas")</h3>
                                        <ol class="breadcrumb">
                                          @if(usuarioLogado.getCaronas().size() == 0){
                                            <li class="active">
                                                @Messages("global.sem_caronas")<a href="ajuda" color="#0088FF"> @Messages("ajuda")</a>
                                            </li>
                                          }
                                        </ol>
                                    </div>
                                </div>
                        </div>
                      </div>

                    <!-- INICIO DO CARD -->
                    @for(carona <- usuarioLogado.getCaronas()){
                    <div>
                        <div class="panel panel-blue-ida">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                		<table class="table">
                  									    <tbody>
                  											<tr>
                  												<th><div><a href=@carona.getMotorista().getEnderecoPerfil()><img src=@carona.getMotorista().getEnderecoImagemPerfil() id="show-option" title="@carona.getMotorista().getPrimeiroNome()" class="img-circle" style="border: 2px solid #FFF;" height="50" width="50"></i></a></div></th>
                  												<th><i class="fa fa-car fa-1x "></i> @carona.getTipo()</th>
                  												<th><div title=@Messages("global.vagas")><img src="assets/SBAdminTemplate/img/vagasBranco.png" align="left" height="20" width="20"></i>@if(carona.getVagasDisponiveis == 0) { @Messages("global.cheia")} else{ @carona.getVagasDisponiveis() }</div></th>
                                          <th><i class="fa fa-calendar fa-1x"></i> @carona.getHorario.getDiaAbreviado()</th>
                                          <th><i class="fa fa-clock-o fa-1x"></i> @carona.getHorario.getHora()</th>
                      										</tr>
                  									    </tbody>
                  									</table>

                                </h1>
                            </div>
                            <div class="panel-body">
                              @if(carona.getPassageiros().size != 0){
                                <div class="col-xs-12">
                                  <table class="table">
                                      <tbody>
                                        <tr>
                                         @for(passageiro <- carona.getPassageiros()){
                                              <th><div><a href=@passageiro.getEnderecoPerfil()><img src=@passageiro.getEnderecoImagemPerfil() id="show-option" title="@passageiro.getPrimeiroNome()" class="img-circle" style="border: 2px solid #82b1ff" height="40" width="40"></i></a></div></th>
                                            }
                                        </tr>
                                      </tbody>

                                  </table>
                                </div>
                              } else {
                              <div class="col-xs-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                      <th> @Messages("global.sem_passageiros")</th>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                            }


                            </div>
                        </div>
                    </div>
                  }
                </li><!-- FIM DO CARD -->
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </nav>
    </div>

    @content
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="assets/SBAdminTemplate/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/SBAdminTemplate/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="assets/SBAdminTemplate/js/plugins/morris/raphael.min.js"></script>
    <script src="assets/SBAdminTemplate/js/plugins/morris/morris.min.js"></script>
    <script src="assets/SBAdminTemplate/js/plugins/morris/morris-data.js"></script>
</body>

</html>
