@(formularioAutenticacao: Form[Dados], formularioEndereco: Form[Endereco], bairros: List[String])

@index("Sistema de Caronas: Vumbora"){

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">

    	<!-- <title>Vumbora</title> Pesquisar DAO Pattern -->

			<script
				src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script
				src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
			<script
				src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<linkrel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

	    <!-- Bootstrap Core CSS -->
	    <link rel="stylesheet" href="assets/CreativeTemplate/css/bootstrap.min.css" type="text/css">
			<link href="assets/CreativeTemplate/js/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="assets/CreativeTemplate/font-awesome/css/font-awesome.min.css" type="text/css">

	    <!-- Plugin CSS -->
	    <link rel="stylesheet" href="assets/CreativeTemplate/css/animate.min.css" type="text/css">

	    <!-- Custom CSS -->
	    <link rel="stylesheet" href="assets/CreativeTemplate/css/creative.css" type="text/css">

	    <style type="text/css">
	    	body{
	    		background-image: url("assets/CreativeTemplate/img/fundoCarro.png");
	    		background-size: cover;
	    	}
	    	input{
				color: black;
			}
			select{
				color: black;
			}

			input[type=file]{
				margin-left: 35%;
				margin-right: 35%;
			}

	    </style>

	    <script type="text/javascript">
	    	function alertaCadastroEfetuado(){
	    		alert("Cadastro efetuado com sucesso!");
	    	}
	    </script>
	    <script>
			function loginEfetuadoComSucesso(){
	    		alert("Login efetuado com sucesso!");
			}
	    </script>

	    <script type="text/javascript">
       function passageiro(){
		   document.getElementById('infoMotorista').style.visibility = 'hidden';
		}
	   function motorista(){
		   document.getElementById('infoMotorista').style.visibility = 'visible';
		}

       function cadastro(){
			document.getElementById('loginCadastroBox').innerHTML = document.getElementById('divCadastro').innerHTML;
       }

       function login(){
		document.getElementById('loginCadastroBox').innerHTML = document.getElementById('divLogin').innerHTML;
       }

       function start(){
       	login();
       }

       window.onload = start;
    </script>
	<link rel="icon" type="img/ico" href="assets/SBAdminTemplate/img/favicon.ico">
	</head>
	<body>
	<br/>
	<img src="assets/CreativeTemplate/img/logo_curso.png" style="margin-left: 20px;">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5" align="left" style="margin-left: 20px;">
				<h1 class="text-faded">
					<span style="color: #F33"><br/>
       		      <span style="color: #F63">@Messages("tela_login.cabecalho")</span><span style="color: rgba(255,102,51,0.7)"><span style="color: rgba(255,51,51,0.7)"> </span></span></h1>
		        <h2 class="text-faded">@Messages("tela_login.subtitulo")</h2>
				<img src="assets/CreativeTemplate/img/checkmark.png" align="left" width="30"><h4 class="text-faded">@Messages("tela_login.listagem1")</h4>
				<br/>
		        <img src="assets/CreativeTemplate/img/checkmark.png" align="left" width="30"><h4 class="text-faded">@Messages("tela_login.listagem2")</h4>
		        <br/>
		        <img src="assets/CreativeTemplate/img/checkmark.png" align="left" width="30"><h4 class="text-faded">@Messages("tela_login.listagem3")</h4>
			</div>

		<div class="col-lg-2">
			<div class="container-fluid">
			</div>
		</div>
		<div id="loginCadastroBox" class="col-lg-4" style="border: 1px solid #888; border-radius: 20px; vertical-align: center; background: #000; filter:alpha(opacity=80); opacity: 0.8; margin-left: 80px; text-align: center; color: white;">
	    </div>

			<div id="divLogin" style="display: none">

		@helper.form(action = routes.AutenticacaoController.efetuaLogin()) {
				<img src="assets/CreativeTemplate/img/logo_vumbora.png" width="300">
				@helper.inputText(formularioAutenticacao("matricula"), '_label -> "Email/Matrícula", '_showConstraints -> false)
				@helper.inputPassword(formularioAutenticacao("senha"), '_label -> "Senha", '_showConstraints -> false)
				<input type="submit" value="Login" class="btn btn-default btn-xl"></input>
			}
				<a class="btn" onclick="cadastro()">@Messages("tela_login.nao_cadastrado")</a>
			</div>
</div>
		<div id="divCadastro" style="display: none">
				@helper.form(action = routes.AutenticacaoController.cadastraUsuario()) {
				<img src="assets/CreativeTemplate/img/logo_vumbora.png" width="300">
				@helper.inputText(formularioAutenticacao("nome"), '_label -> Messages("global.nome"), '_showConstraints -> false)
				@helper.inputText(formularioAutenticacao("matricula"), '_label -> "Matrícula", '_showConstraints -> false)
				@helper.inputText(formularioAutenticacao("numeroDeTelefone"), '_label -> "Número de Telefone", '_showConstraints -> false)
				@helper.inputText(formularioAutenticacao("email"), '_label -> "Email", '_showConstraints -> false)
				@helper.inputPassword(formularioAutenticacao("senha"), '_label -> "Senha", '_showConstraints -> false)
				@helper.inputText(formularioEndereco("rua"), '_label -> "Rua", '_showConstraints -> false)
				@helper.select(formularioEndereco("bairro"), helper.options(bairros), '_label -> "Bairro", '_showConstraints -> false)
				@helper.select(formularioAutenticacao("numeroVagas"), helper.options(Seq("Não possuo carro","1","2","3","4","5","6","7","8")), '_label -> "Número de vagas no carro:", '_showConstraints -> false)
				<input type="submit" value="Cadastrar" class="btn btn-default btn-xl"></input>
			</br>
				<a class="btn" onclick="login()">@Messages("tela_login.sou_cadastrado")</a>
				</div>
				}
			</div>
		</div>

		<!-- jQuery -->
	    <script src="assets/CreativeTemplate/js/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="assets/CreativeTemplate/js/bootstrap.min.js"></script>
	    <script src="assets/CreativeTemplate/js/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
	    <script src="assets/CreativeTemplate/js/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

	    <!-- Plugin JavaScript -->
	    <script src="assets/CreativeTemplate/js/jquery.easing.min.js"></script>
	    <script src="assets/CreativeTemplate/js/jquery.fittext.js"></script>
	    <script src="assets/CreativeTemplate/js/wow.min.js"></script>

	    <!-- Custom Theme JavaScript -->
	    <script src="assets/CreativeTemplate/js/creative.js"></script>
	</body>
</html>
}
