<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Agendamentos</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style type="text/css">
body,td,th {
	font-family: "Calibri Light";
	text-align: center;
	font-size: 24px;
	color: #FFF;
}
body {
	background-color: #333;
	background-image: url(Projeto/img/fundo%20tela%20principal.png);
	background-size: cover;
}
</style>

<link rel="icon" type="img/ico" href="Projeto/img/favicon.ico">
</head>

<body>
<table width="100%" height="477" border="0" cellpadding="0" cellspacing="0">
  <!-- TemplateBeginRepeat name="RepeatRegion1" -->
  <tr>
    <td width="10%" height="158" rowspan="3" align="center" valign="top" bgcolor="#993333" style="color: #FFF"><!-- TemplateEndEditable --><img src="Projeto/img/vumbora icone.png"  alt="" width="99" height="82"/></td>
    <td width="35%" height="27" bgcolor="#333333"><!-- TemplateEndEditable --></td>
    <td width="34%" height="27" align="left" bgcolor="#333333"><img src="Projeto/img/vumbora principal.png" width="287" height="32"  alt=""/></td>
    <td width="5%" height="27" align="right" valign="middle" bgcolor="#333333"><img src="Projeto/img/notificacao.png" width="24" height="25"  alt=""/></td>
    <td width="3%" align="right" valign="middle" bgcolor="#333333"><img src="Projeto/img/user.png" width="24" height="26"  alt=""/></td>
    <td width="13%" align="left" valign="middle" bgcolor="#333333" style="font-size: 21px; text-align: left;"> Fulano</td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2" style="font-size: 10px">&nbsp;</td>
    <td height="29" colspan="3" align="center" valign="middle" style="font-size: 10px">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" colspan="3" valign="bottom" style="font-size: 18px">Minhas caronas</td>
  </tr>
  <!-- TemplateEndRepeat -->
  <tr>
    <td height="87" align="center" valign="middle" bgcolor="#993333" style="font-size: 12px; color: #FFF;"><p><img src="Projeto/img/home.png" width="49" height="47"  alt=""/></p>
    <p>Home</p></td>
    <td colspan="2" valign="top" style="font-family: 'Calibri Light'; font-size: 36px;"><p>Marcar uma carona com Beltrano</p></td>
    <td colspan="3" valign="top" style="font-family: 'Calibri Light'; font-size: 16px;"><p><span style="font-family: 'Calibri Light'; font-size: 18px;">
      <label for="date">Dia:</label>
      <input type="date" name="date" id="date">
    </span></p></td>
  </tr>
  <tr>
    <td height="93" align="center" valign="middle" bgcolor="#993333" style="font-size: 12px; color: #FFF;"><p><img src="Projeto/img/solicitacoes.png" width="60" height="40"  alt=""/></p>
    <p>Solicitações</p></td>
    <td colspan="2" valign="top" style="font-family: 'Calibri Light'; font-size: 18px;"><p><img src="Projeto/img/trajeto carona ilustracao.png" width="500" height="95"  alt=""/></p></td>
    <td colspan="3" style="font-family: 'Calibri Light'">&nbsp;</td>
  </tr>
  <tr>
    <td height="104" align="center" valign="middle" bgcolor="#FF3333" style="font-size: 12px; color: #FFF;"><p><img src="Projeto/img/agendamentos.png" width="49" height="50"  alt=""/></p>
    <p>Agendamentos</p></td>
    <td colspan="2" valign="top" style="font-family: 'Calibri Light'; font-size: 18px;"><p><b>Tipo:</b> Ida para a UFCG</p>
    <p><b>Horário:</b> 14:00 </p>
    <p><b>Vagas Disponíveis:</b> 03</p></td>
    <td colspan="3" style="font-family: 'Calibri Light'">&nbsp;</td>
  </tr>
  <tr>
    <td height="99" align="center" valign="middle" bgcolor="#993333" style="font-size: 12px; color: #FFF;"><p><img src="Projeto/img/perfil.png" width="60" height="60"  alt=""/></p>
    <p>Meu perfil</p></td>
    <td valign="middle" style="font-family: 'Calibri Light'; font-size: 18px;"><img src="Projeto/img/botao voltar as caronas.png" width="284" height="51"  alt=""/></td>
    <td valign="middle" style="font-family: 'Calibri Light'; font-size: 18px;"><img src="Projeto/img/botao solicitar carona.png" width="284" height="50"  alt=""/></td>
    <td colspan="3" style="font-family: 'Calibri Light'">&nbsp;</td>
  </tr>
</table>
</body>
</html>
