
<!DOCTYPE html>
<html lang="en">
<title>Ajuda</title>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS' -->
    <link href="assets/SBAdminTemplate/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/SBAdminTemplate/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/SBAdminTemplate/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/SBAdminTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    </script>



</head>

<body>

<div class="container-fluid">
			<!-- Main jumbotron for a primary marketing message or call to action -->
        </br>
        <div class="jumbotron" style=" border: 2px solid #888; vertical-align: center; background: rgb(000, 00, 00);background: rgba(000, 00, 00, 0.5); color: white; ">
            @helper.form(action = routes.AutenticacaoController.ajuda()){

            }
            <h1>Sessão de ajuda do Vumbora</h1>
        </div>   

      <div id="wrapper">
         <div id="page-wrapper">

            <div class="container-fluid">

				      <div class="row-xs-12" align ="left">
				          <p>O Vumbora foi criado para facilitar a vida dos estudantes e funcionários da UFCG. Além de promover a boa prática de formar amizades.
                  Nele você vai poder oferecer e solicitar caronas dada a sua localização e horário. Não é prático?</p>
                  
                  </br>
                  <p>F.A.Q:</p>
                  </br>
                  1) Como me cadastrar? </br>
                  <i>Para se cadastrar no Vumbora é fácil. Acesse o site e clique em "Cadastre-se" logo abaixo do botão de login.</i></br>
                  2) Por que dar tantas informações? </br>
                  <i>Precisamos de suas informações para assim definir a melhor carona e/ou passageiro para você. </i> </br>
                  3) Como fazer login? </br>
                  <i>Depois de se cadastrar, na tela de login, coloque no primeiro campo sua matrícula ou e-mail e no outro campo sua senha.</i></br>
                  4) Onde colocar meus horários? </br>
                  <i>Assim que você se cadastrar sua tela será a de cadastrar seus horários de ida e vinda para oferecer e/ou buscar carona. Mas você pode
                  editar a qualquer momento clicando em "Horários" na barra lateral esquerda. </i> </br>
                  5) Como solicitar uma carona? </br>
                  <i>Com o horário cadastrado acima do feed clique em "Buscar Carona" e ache a carona que mais se encaixa com seus horários.</i></br>
                  6) Como oferecer uma carona? </br>
                  <i>Com o horário cadastrado acima do feed clique em "Oferecer Carona" e defina os horários preferidos para publicar sua carona.</i></br>
                  7) Como aceitar uma carona? </br>
                  <i>Se um motorista lhe oferecer uma carona então esta aparecerá nas notificações e clicando você pode decidir aceitar a carona ou não.</i></br>
                  8) Onde posso mudar o idioma? </br>
                  <i>Na barra superior no canto direito o segundo botão lhe dá a possibilidade de escolher qual será a linguaguem que você prefere utilizar.</i></br>
                  9) Onde ver as caronas que tenho? </br>
                  <i>Na barra lateral direita você tem acesso à todas caronas cadastradas.</i></br>
                  

        		  </div>
        <!-- /#page-wrapper -->

   			    </div>
    	   </div>
    <!-- /#wrapper -->
    </div>
</body>
</html>


