@(usuarioLogado: Usuario, carona: Carona)

@main(usuarioLogado, usuarioLogado.getCaronas(), usuarioLogado.getNotificacoesNaoLidas(), "Solicitação de Carona"){

<!DOCTYPE html>
<html lang="pt">

<head>
</head>

<body>
  <div id="wrapper">
        <div id="page-wrapper">

            <div class="container-fluid" >
				<div class="row-xs-12">
                <!-- Page Heading -->
                <!-- /.row -->


               <!-- /.row -->


                <!-- /.row -->

                                <!-- /.row -->

                 <div style="text-align: center; color: #FFF; font-family: 'Calibri Light';" >

                <div style="font-size: 36px;"><p style="font-size: 34px;"><br>@Messages("agendamento.marcar") @carona.getMotorista().getNome()<br><br></p></div>

                <p><img src="assets/SBAdminTemplate/img/trajeto carona ilustracao.png" width="500" height="95"  alt=""/></p>

                <p style="font-size: 18px;"><b>@Messages("agendamento.tipo") </b>@carona.getTipo()</p>
                <p style="font-size: 18px;"><b>@Messages("agendamento.dia") </b>@carona.getHorario().getDia()</p>
                <p style="font-size: 18px;"><b>@Messages("agendamento.hora") </b>@carona.getHorario().getHora()</p>
                <p style="font-size: 18px;"><b>@Messages("global.vagas"): </b>@carona.getVagasDisponiveis()</p>


                <div class="row-sm-12">
        						<div class="col-sm-6">
                      <td align="rigth"><a href="/" class="btn btn-warning btn-l" style="float: center; font-size: 18px;"><b>@Messages("agendamento.voltar")</a> </td><td></td>
                    </div>

        						<div class="col-sm-6">
                      <td align="rigth"><a href="solicitaCarona?id=@carona.getId()" class="btn btn-warning btn'l" style="float: center; font-size: 18px;"><b>@Messages("agendamento.solicitar")</a>
                    </div>
        			</div>
            </br>
                </div>
                <!-- /.row -->

                <!-- /.row -->
				</div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
      </div>
      <!-- /wrapper -->
</body>
</html>

}
