@(usuarioLogado: Usuario, novaCarona: Form[Carona], caronasOfertadas: List[Carona], bairros: List[String], notificacoes: List[Notificacao])

@main(usuarioLogado, caronasOfertadas, notificacoes, "Sistema Vumbora de Caronas") {

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS' -->
    <link href="assets/SBAdminTemplate/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/SBAdminTemplate/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/SBAdminTemplate/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/SBAdminTemplate/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">

        function publicarCaronaBox(){
            if(@usuarioLogado.getNumeroVagas() > 0){
                document.getElementById('publicarCaronaBox').innerHTML = document.getElementById('publicarCarona').innerHTML;
            }
        }


        $(document).ready(function (){
            $('#botaoPublicar').click(function () {
                $('#publicarCaronaBox').show();
                setTimeout(function() {
                    $('#publicarCaronaBox').hide();
                }, 10000);
            });
        });


        // Função será implementada em uma próxima versão, onde haverá outras possibilidade de buscas.
        function buscarCaronaBox(){
            document.getElementById('publicarCaronaBox').innerHTML = document.getElementById('buscarCarona').innerHTML;
        }

        function start(){
            return routes.CaronasController.buscarCaronas()
        }

        function estouComSorte(){
            var horaVar = document.getElementById("hora").value;
            var dias = document.getElementById("diaDaSemanaBusca").value;
            var bairro = document.getElementById("bairro").value;

            if ((horaVar == "Não quero pesquisar por hora") && (dias == "Escolha uma hora primeiro") && (bairro == "Não quero pesquisar por bairro")){
                document.getElementById("botaoBuscar").value = "Estou com sorte";
            } else {
                document.getElementById("botaoBuscar").value = "Buscar";
            }
        }

        function habilitaDias(){
            var horaVar = document.getElementById("hora").value;

            if(horaVar == "Não quero pesquisar por hora"){
                document.getElementById('diaDaSemanaBusca').disabled = true;
            } else{
                document.getElementById('diaDaSemanaBusca').disabled = false;
            }

        }

        window.onload = start;
    </script>



</head>

<body>

<div class="container-fluid">
    <div class="nav navbar-nav top-information">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div id="publicarBuscar" style=" width: 96%; height: 100px; border: 2px solid #888; border-radius: 20px; vertical-align: center; background: rgb(000, 00, 00); background: rgba(000, 00, 00, 0.5); color: white; color: white;">

            <div class="row">

                <div class="col-sm-2">
                    @helper.form(action = routes.CaronasController.buscarCaronas()){
                    <button type="submit" class="btn btn-primary btn-xl" style="margin-top: 30px; margin-left: 80px">@Messages("view_usuario.buscar")</button>
                    }
                </div>
                <div class="col-sm-6">
                    <a class="navbar-brand"><img src="assets/SBAdminTemplate/img/trajeto carona ilustracao.png" style="margin-top: 20px; margin-left: 120px; height: 60px; width: 250px;"></a>
                </div>
                <div class="col-sm-4">
                    @if(usuarioLogado.getNumeroVagas() > 0){
                    <button onclick="publicarCaronaBox()"id="botaoPublicar"class="btn btn-warning btn-xl" style="margin-top: 30px; margin-right: 150px;">@Messages("view_usuario.oferecer")</button>
                    } else {
                    <button onclick="publicarCaronaBox()" class="btn btn-warning btn-xl disabled" title="Para publicar caronas você deve possuir um veículo" style="margin-top: 30px; margin-right: 150px;">@Messages("view_usuario.oferecer")</button>
                    }
                </div>

            </div>

        </div>
        <div id="publicarCaronaBox" class="jumbotron" style=" width: 96%; border: 2px solid #888; border-radius: 20px; vertical-align: center; background: rgb(000, 00, 00);background: rgba(000, 00, 00, 0.5); color: white; display: none">

        </div>


        <div id="publicarCarona" class="jumbotron" style="display: none">
            @helper.form(action = routes.CaronasController.cadastraNovaCarona()){
            <h2 style="text-align: center;">@Messages("view_usuario.publicar")</h2>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("view_usuario.hora")</label> <select name="hora" id="hora" class="form-control" >
                        <option>08</option>
                        <option>10</option>
                        <option>12</option>
                        <option>14</option>
                        <option>16</option>
                        <option>18</option>
                    </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("view_usuario.dia")</label> <select name="diaDaSemana" id="diasDaSemana" class="form-control">
                        <option>@Messages("dias.segunda")</option>
                        <option>@Messages("dias.terca")</option>
                        <option>@Messages("dias.quarta")</option>
                        <option>@Messages("dias.quinta")</option>
                        <option>@Messages("dias.sexta")</option>
                    </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("global.vagas")</label> <select name="vagasDisponiveis" class="form-control" >
                        @for(a <- 1 to usuarioLogado.getNumeroVagas()){
                        <option>
                            @a
                        </option>
                        }

                    </select>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <label class="radio-inline"> </br> <input type="radio" name="tipo" value="ida" checked="checked">Ida</label>
                    <label class="radio-inline"> </br> <input type="radio" name="tipo" value="volta">Volta</label>
                    <label class="checkbox-inline"> </br>
                        <input type="submit"
                               value=@Messages("view_usuario.publique") class="btn btn-warning btn-l"
                               style="float: right">
                        </input>
                    </label>
                </div>
                }
            </div>
        </div>



        <div id="buscarCarona" class="jumbotron" style="display: none">
            @helper.form(action = routes.CaronasController.buscarCaronas()){
            <h2 style="text-align: center;">@Messages("view_usuario.buscar_aqui")</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("view_usuario.hora")</label> <select onchange="habilitaDias()" name="hora" id="hora" class="form-control">
                        <option>Não quero pesquisar por hora</option>
                        <option>08</option>
                        <option>10</option>
                        <option>12</option>
                        <option>14</option>
                        <option>16</option>
                        <option>18</option>
                    </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("view_usuario.dia")</label> <select onchange="estouComSorte()" name="diaDaSemanaBusca" id="diaDaSemanaBusca" class="form-control">
                        <option>Escolha uma hora primeiro</option>
                        <option>@Messages("dias.segunda")</option>
                        <option>@Messages("dias.terca")</option>
                        <option>@Messages("dias.quarta")</option>
                        <option>@Messages("dias.quinta")</option>
                        <option>@Messages("dias.sexta")</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Messages("view_usuario.bairro")</label> <select onchange="estouComSorte()" name="bairro" id="bairro" class="form-control">
                        <option>Não quero pesquisar por bairro</option>
                        @for(bairro <- bairros){
                        <option>
                            @bairro
                        </option>
                        }
                    </select>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <label class="radio-inline"> </br> <input type="radio" name="tipo" value="ida" checked="checked">Ida</label>
                    <label class="radio-inline"> </br> <input type="radio" name="tipo" value="volta" >Volta</label>
                    <label class="checkbox-inline"> </br>
                        <input type="submit"
                               value=@Messages("view_usuario.busque") id="botaoBuscar" class="btn btn-primary btn-l"
                               style="float: right">
                        </input>
                    </label>
                </div>
                }
            </div>
        </div>

        <h3 class="page-header" style="color: #FFF">@Messages("view_usuario.recentes")</h3>
        @if(flash.containsKey("erro")) {
        <div class="alert alert-warning" id="warning-alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@Messages("global.erro")</strong> @flash.get("erro")
        </div>
        }
        @if(flash.containsKey("success")) {
        <div class="alert alert-success"   >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@Messages("global.sucesso")</strong> @flash.get("success")
        </div>
        }
    </div>
</div>


<div id="wrapper">
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row-xs-12">
                <!-- Page Heading -->

                <!-- /.row -->

                @if((usuarioLogado.getHorarios().size()) == 0){
                </br>
                    <div class="panel-heading">
                        @Messages("view_usuario.sem_horarios") <a href="horarios">@Messages("view_usuario.cadastre_horarios")</a>
                        </br></br>
                        <img src="assets/SBAdminTemplate/img/semHorarios.png" align="center" height="100px"></i>
                    </div>
                </br>
                }

                @if(usuarioLogado.getHorarios.size() > 0 && caronasOfertadas.size() == 0){
                </br>
                    <div class="panel-heading">
                        @Messages("view_usuario.sem_caronas")
                        </br></br>
                        <img src="assets/SBAdminTemplate/img/semCaronas.png" align="center" height="100px"></i>

                    </div>
                </br>
                }

                @if(caronasOfertadas.size() > 0){
                </br>
                <div class="panel-heading" style="font-size: large">
                    @caronasOfertadas.size() @Messages("view_usuario.encontradas")
                    </br>
                    <img src="assets/SBAdminTemplate/img/buscarCaronas.png" align="center" height="200px"></i>

                </div>
                </br>
                }



                <div>
                    @if(flash.containsKey("pedido")) {
                    <div class="alert alert-success"   >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@Messages("global.sucesso")</strong> @flash.get("pedido")
                    </div>
                    }
                </div>

                @for(carona <- caronasOfertadas){
                <div class="col">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src=@carona.getMotorista().getEnderecoImagemPerfil() class="img-circle" style="border: 2px solid #888;" height="65" width="65"></i></br>@carona.getMotorista().getPrimeiroNome()
                                    </div>
                                    <div class="col-xs-9" style="margin-top: 30px;">
                                        <div class="row text-bottom">

                                            <div class="col-xs-3" >
                                                <div><i class="fa fa-car fa-2x "></i> @carona.getTipo()</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div><img src="assets/SBAdminTemplate/img/vagasBranco.png" height="30" width="23"></i> @if(carona.getVagasDisponiveis == 0) {@Messages("global.cheia")} else{@carona.getVagasDisponiveis()}</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div><i class="fa fa-clock-o fa-2x"></i> @carona.getHorario.getHora()</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div><i class="fa fa-calendar fa-2x"></i> @carona.getHorario.getDia()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div style="color: #888;"><i class="fa fa-map-marker fa-1x" ></i> @carona.getMotorista().getEndereco().getBairro()</div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div style="color: #888;"><i class="fa fa-phone fa-1x"></i> @carona.getMotorista().getNumeroDeTelefone()</div>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="exibeDetalhes?id=@carona.getId()" class="btn btn-warning btn-l" style="float: right">@Messages("view_usuario.pedir")</a>
                                    </div>
                                </div>
                                <span class="pull-left"></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    }
                    <!-- /.container-fluid -->

                </div>
                <!-- /#page-wrapper -->

            </div>
        </div>
        <!-- /#wrapper -->
    </div>
</div>
</body>
</html>

}
